USE [master]
GO
/****** Object:  Database [portal_xml]    Script Date: 6/21/2018 8:28:09 PM ******/
CREATE DATABASE [portal_xml]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'portral_xml', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\portral_xml.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'portral_xml_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\portral_xml_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [portal_xml].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [portal_xml]
GO
USE [portal_xml]
GO
/****** Object:  Table [dbo].[Capital]    Script Date: 6/21/2018 8:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capital](
	[ISO2Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[NameAlt] [nvarchar](200) NULL,
	[CountryName] [nvarchar](200) NOT NULL,
	[CountryNameAlt] [nvarchar](200) NULL,
 CONSTRAINT [PK_Capital] PRIMARY KEY CLUSTERED 
(
	[ISO2Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapitalNews]    Script Date: 6/21/2018 8:28:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapitalNews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NewsId] [bigint] NOT NULL,
	[CapitalISO2Code] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_CapitalNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forecast]    Script Date: 6/21/2018 8:28:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forecast](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CapitalISO2Code] [nvarchar](3) NOT NULL,
	[ForecastDate] [date] NULL,
	[ForecastDay] [int] NULL,
	[ForecastMonth] [int] NULL,
	[ForecastYear] [int] NULL,
	[ForecastDayOfWeek] [nvarchar](50) NULL,
	[ForecastDescription] [nvarchar](100) NOT NULL,
	[ForecastWind] [nvarchar](50) NOT NULL,
	[ForecastTemp] [int] NOT NULL,
	[ForecastIcon] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Forecast] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 6/21/2018 8:28:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PostImgUrl] [nvarchar](500) NULL,
	[PostOriginUrl] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Capital] ([ISO2Code], [Name], [NameAlt], [CountryName], [CountryNameAlt]) VALUES (N'AD', N'Andorra la Vella', NULL, N'Andorra', NULL)
INSERT [dbo].[Capital] ([ISO2Code], [Name], [NameAlt], [CountryName], [CountryNameAlt]) VALUES (N'AE', N'Abu Dhabi', NULL, N'United Arab Emirates', NULL)
INSERT [dbo].[Capital] ([ISO2Code], [Name], [NameAlt], [CountryName], [CountryNameAlt]) VALUES (N'AF', N'Kabul', NULL, N'Afghanistan', NULL)
GO
SET IDENTITY_INSERT [dbo].[Forecast] ON 

INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (80, N'AD', CAST(N'2018-06-22' AS Date), 22, 6, 2018, N'Thứ sáu ngày 22', N'Clear.', N'4 km/h', 17, N'//c.tadst.com/gfx/w/80/wt-13.png')
INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (81, N'AD', CAST(N'2018-06-23' AS Date), 23, 6, 2018, N'Thứ bảy ngày 23', N'Showers late. More sun than clouds.', N'6 km/h', 25, N'//c.tadst.com/gfx/w/40/wt-33.png')
INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (82, N'AD', CAST(N'2018-06-24' AS Date), 24, 6, 2018, N'Chủ nhật ngày 24', N'Showers late. More clouds than sun.', N'9 km/h', 20, N'//c.tadst.com/gfx/w/40/wt-33.png')
GO
SET IDENTITY_INSERT [dbo].[Forecast] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ISOCode_Date]    Script Date: 6/21/2018 8:28:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_ISOCode_Date] ON [dbo].[Forecast]
(
	[CapitalISO2Code] ASC,
	[ForecastDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CapitalNews]  WITH CHECK ADD  CONSTRAINT [FK_CapitalNews_Capital] FOREIGN KEY([CapitalISO2Code])
REFERENCES [dbo].[Capital] ([ISO2Code])
GO
ALTER TABLE [dbo].[CapitalNews] CHECK CONSTRAINT [FK_CapitalNews_Capital]
GO
ALTER TABLE [dbo].[CapitalNews]  WITH CHECK ADD  CONSTRAINT [FK_CapitalNews_News1] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([Id])
GO
ALTER TABLE [dbo].[CapitalNews] CHECK CONSTRAINT [FK_CapitalNews_News1]
GO
ALTER TABLE [dbo].[Forecast]  WITH CHECK ADD  CONSTRAINT [FK_Forecast_Capital] FOREIGN KEY([CapitalISO2Code])
REFERENCES [dbo].[Capital] ([ISO2Code])
GO
ALTER TABLE [dbo].[Forecast] CHECK CONSTRAINT [FK_Forecast_Capital]
GO
USE [master]
GO
