USE [master]
GO
/****** Object:  Database [portal_xml]    Script Date: 7/7/2018 6:25:40 AM ******/
CREATE DATABASE [portal_xml]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'portral_xml', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\portral_xml.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'portral_xml_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\portral_xml_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [portal_xml].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [portal_xml]
GO
USE [portal_xml]
GO
/****** Object:  Table [dbo].[Capital]    Script Date: 7/7/2018 6:25:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capital](
	[ISO2Code] [nvarchar](3) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CountryName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Capital] PRIMARY KEY CLUSTERED 
(
	[ISO2Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forecast]    Script Date: 7/7/2018 6:25:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forecast](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CapitalISO2Code] [nvarchar](3) NOT NULL,
	[ForecastDate] [date] NULL,
	[ForecastDay] [int] NULL,
	[ForecastMonth] [int] NULL,
	[ForecastYear] [int] NULL,
	[ForecastDayOfWeek] [nvarchar](50) NULL,
	[ForecastDescription] [nvarchar](100) NOT NULL,
	[ForecastWind] [nvarchar](50) NOT NULL,
	[ForecastTemp] [int] NOT NULL,
	[ForecastIcon] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Forecast] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 7/7/2018 6:25:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ISO2Code] [nvarchar](3) NOT NULL,
	[Width] [nvarchar](10) NOT NULL,
	[Height] [nvarchar](10) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/7/2018 6:25:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[PostImgUrl] [nvarchar](500) NULL,
	[PostOriginUrl] [nvarchar](500) NOT NULL,
	[IsHotNews] [bit] NOT NULL,
	[Date] [date] NOT NULL,
	[HashInt] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Capital] ([ISO2Code], [Name], [CountryName]) VALUES (N'AD', N'Andorra la Vella', N'Andorra')
INSERT [dbo].[Capital] ([ISO2Code], [Name], [CountryName]) VALUES (N'AE', N'Abu Dhabi', N'United Arab Emirates')
INSERT [dbo].[Capital] ([ISO2Code], [Name], [CountryName]) VALUES (N'AF', N'Kabul', N'Afghanistan')
GO
SET IDENTITY_INSERT [dbo].[Forecast] ON 

INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (14920, N'AF', CAST(N'2018-07-05' AS Date), 5, 7, 2018, N'Thứ năm', N'High level clouds.', N'15 km/h', 27, N'wi wi-day-light-wind')
INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (14921, N'AF', CAST(N'2018-07-06' AS Date), 6, 7, 2018, N'Thứ sáu', N'High level clouds.', N'13 km/h', 29, N'wi wi-day-light-wind')
INSERT [dbo].[Forecast] ([Id], [CapitalISO2Code], [ForecastDate], [ForecastDay], [ForecastMonth], [ForecastYear], [ForecastDayOfWeek], [ForecastDescription], [ForecastWind], [ForecastTemp], [ForecastIcon]) VALUES (14922, N'AF', CAST(N'2018-07-07' AS Date), 7, 7, 2018, N'Thứ bảy', N'Sunny.', N'12 km/h', 29, N'wi wi-day-sunny')
GO
SET IDENTITY_INSERT [dbo].[Forecast] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [ISO2Code], [Width], [Height], [Url]) VALUES (21345, N'AF', N'1000', N'604', N'https://images.unsplash.com/photo-1483699862560-f524a8c11c6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=11bd49355430e18c126886be5e1a295d&w=1000&q=80')
INSERT [dbo].[Image] ([Id], [ISO2Code], [Width], [Height], [Url]) VALUES (21346, N'AF', N'1000', N'667', N'https://images.unsplash.com/photo-1508598126084-9dfccbb92cd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fe39421be4353a97159458b7d4cb8517&w=1000&q=80')
INSERT [dbo].[Image] ([Id], [ISO2Code], [Width], [Height], [Url]) VALUES (21347, N'AF', N'1000', N'667', N'https://images.unsplash.com/photo-1456806064978-9934628b16fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04b85aa1969e9c330b1c8b40888038b9&w=1000&q=80')
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Title], [PostImgUrl], [PostOriginUrl], [IsHotNews], [Date], [HashInt]) VALUES (13611, N'Nhật Bản tuyên án chung thân kẻ sát hại bé Nhật Linh', N'https://static.tintuc.vn/images/ver3/06-07-2018/1530865655613-1530865457933-nhatlinhcase-1530862108_500x300.jpg', N'https://tintuc.vn/nha-t-ba-n-tuyen-a-n-chung-than-ke-sa-t-ha-i-be-nha-t-linh-post120427', 1, CAST(N'2018-07-06' AS Date), NULL)
INSERT [dbo].[News] ([Id], [Title], [PostImgUrl], [PostOriginUrl], [IsHotNews], [Date], [HashInt]) VALUES (13612, N'Bóng khổng lồ hình Trump sẽ bay khi tổng thống Mỹ thăm London', N'https://static.tintuc.vn/images/ver3/06-07-2018/1530859647207-Untitled1-1530849272_500x300.jpg', N'https://tintuc.vn/bo-ng-kho-ng-lo-hi-nh-trump-se-bay-khi-to-ng-tho-ng-my-tham-london-post120382', 0, CAST(N'2018-07-06' AS Date), NULL)
INSERT [dbo].[News] ([Id], [Title], [PostImgUrl], [PostOriginUrl], [IsHotNews], [Date], [HashInt]) VALUES (13613, N'Tình nguyện viên bất cẩn bơm nước ngược vào hang đội bóng nhí Thái mắc kẹt', N'https://static.tintuc.vn/images/ver3/06-07-2018/44438098303-1530841578_500x300.jpg', N'https://tintuc.vn/tinh-nguyen-vien-bat-can-bom-nuoc-nguoc-vao-hang-doi-bong-nhi-thai-mac-ket-post120366', 1, CAST(N'2018-07-06' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[News] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ISOCode_Date]    Script Date: 7/7/2018 6:25:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_ISOCode_Date] ON [dbo].[Forecast]
(
	[CapitalISO2Code] ASC,
	[ForecastDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Forecast]  WITH CHECK ADD  CONSTRAINT [FK_Forecast_Capital] FOREIGN KEY([CapitalISO2Code])
REFERENCES [dbo].[Capital] ([ISO2Code])
GO
ALTER TABLE [dbo].[Forecast] CHECK CONSTRAINT [FK_Forecast_Capital]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Capital] FOREIGN KEY([ISO2Code])
REFERENCES [dbo].[Capital] ([ISO2Code])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Capital]
GO
USE [master]
GO
